.img-aboutus1{
    width: 300px;
    margin-top: 3em;
    border-radius: 25%;
}
.img-aboutus2{
    width: 300px;
    margin-top: 20em;
    border-radius: 25%;
}

.banner-aboutus{
    height: 10em;
}

.text-aboutus{
    padding: 7em;
}